:root {
    // --vscode-style-easy-anim-red-color: #2aaaff;
    // --vscode-style-easy-anim-red-color: inherit;
    --vscode-style-easy-anim-line-width: 2px;
}

// 代码编辑器左测行边框线
.current-line.current-line-margin-both {
    border-left: var(--vscode-style-easy-anim-line-width) solid var(--vscode-style-easy-anim-red-color);
    animation: jello-vertical 0.4s both;
}

// 滚动条样式
.monaco-scrollable-element > .scrollbar > .slider {
    width: 10px !important;
    left: 2px !important;
    background-color: #424242 !important;
    border: 3px solid #252526 !important;
    border-radius: 7px !important;
    &:hover {
        background-color: #4f4f4f !important;
    }
}

// 顶部栏,右键或者点击图标动画
.part.titlebar {
    animation: code-scale 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    .titlebar-container {
        .menubar-menu-button {
            .menubar-menu-items-holder.monaco-menu-container {
                animation: slide-in-fwd-top-title-menu 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            }
        }
    }
}

// 底部栏动画
.part.statusbar {
    animation: slide-in-fwd-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menubar.compact {
    .menubar-menu-items-holder.monaco-menu-container .monaco-scrollable-element {
        animation: slide-in-fwd-top-title-menu 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
}

// tab选项卡下边框线
.tab .tab-actions-right .sizing-fit {
    transition: all 0.2s;
}
.tab.tab-actions-right.active.selected {
    color: var(--vscode-style-easy-anim-red-color) !important;
}
.tab.tab-actions-right.active.selected::after {
    content: '';
    display: block;
    position: absolute;
    height: var(--vscode-style-easy-anim-line-width);
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    animation: tab-actions-line-width 0.2s both;
    transition: all;
    background-color: var(--vscode-style-easy-anim-red-color);
}

// 代码提示区域
.overflowingContentWidgets .editor-widget.suggest-widget {
    transition: left, top, right, bottom 0.2s;
    border-radius: 6px;
    backdrop-filter: blur(10px);
    background-color: #2a2b2b50;
    animation: scale-in-ver-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    padding: 4px 0;
    .monaco-list-row {
        animation: font-size-letter-spacing 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
        padding: 0 10px !important;
        .icon.hide {
        }
        .contents {
            .main {
                .monaco-icon-label-container {
                    .monaco-icon-name-container {
                    }
                }
            }
        }
        &:hover {
            border-bottom: var(--vscode-style-easy-anim-line-width) solid var(--vscode-style-easy-anim-red-color);
        }
        &.focused {
        }
    }
}

// 代码资源管理器目录旁提示线
.pane-body .monaco-scrollable-element {
    .monaco-list-row {
        &.selected::before {
            content: '';
            position: absolute;
            left: 4px;
            width: 4px;
            height: 18px;
            top: 2px;
            border-radius: 25px;
            background-color: var(--vscode-style-easy-anim-red-color);
            animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
    }
}

// 扩展列表动画
.extensions-list {
    .monaco-list-row {
        animation: slide-in-fwd-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}

// 设置页面动画
.settings-toc-container {
    .monaco-list-row {
        &.selected::before {
            content: '';
            position: absolute;
            left: 4px;
            width: 4px;
            height: 18px;
            top: 2px;
            border-radius: 25px;
            background-color: var(--vscode-style-easy-anim-red-color);
        }
        animation: slide-in-fwd-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}
.settings-tree-container {
    .monaco-scrollable-element {
        .monaco-list-rows {
            .monaco-list-row {
                animation: slide-in-fwd-left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            }
        }
    }
}

// tab栏动画
.tabs-and-actions-container {
    .tab {
        animation: slide-in-fwd-left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    }
}
.title.tabs.show-file-icons {
    background-color: transparent !important;
    .monaco-scrollable-element {
        .tab {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-right: 6px;
            border-right: 0px;
        }
        .tab:nth-child(1) {
            margin-left: 6px;
        }
        .tab:nth-child(n + 2)::before {
            content: '';
            position: absolute;
            top: 25%;
            height: 50%;
            left: -3px;
            bottom: 0;
            width: 1px;
            background-color: var(--vscode-tab-activeForeground);
        }
        .tabs-container .tab-actions .action-item {
            &:hover {
                transform: scale(0.9) rotate(90deg);
            }
            transition: all 0.3s;
            transform: scale(1) rotate(0deg);
        }
    }
}

// 编辑代码页面打开时的动画
.editor-container {
    .monaco-editor {
        animation: code-scale 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

// vscode-setting图标动画
.action-label.codicon.codicon-settings-view-bar-icon {
    &:hover {
        transform: scale(0.9) rotate(90deg);
    }
    transition: all 0.3s;
    transform: scale(1) rotate(0deg);
}

// 终端显示隐藏动画
.monaco-grid-branch-node .monaco-split-view2.vertical {
    .monaco-scrollable-element {
        .split-view-container > .split-view-view {
            transition: top 0.3s ease-out;
            transition: width 0.3s, height 0.3s;

            .pane-body .markers-panel-container .widget-container .tree-container .monaco-list-rows .monaco-list-row {
                animation: slide-in-fwd-left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            }

            // 终端切换卡的动画
            .pane .pane-body .monaco-split-view2 {
                .monaco-scrollable-element .monaco-list .monaco-list-rows .monaco-list-row {
                    animation: slide-in-fwd-left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
                }
            }
        }
        // TODO 终端beat功能
        .split-view-container > .split-view-view {
            display: block !important;

            .part.panel {
                display: block !important;
                visibility: visible !important;
            }
        }
    }
}

// 终端样式
.monaco-workbench .part.panel .composite.title {
    border: none !important;

    .action-item {
        min-width: 50px;
        &.checked {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            color: white;
            background-color: var(--vscode-tab-activeBackground);
        }
        .active-item-indicator {
            display: none;
        }
    }
}

.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-label.codicon {
    font-size: 20px !important;
}

.monaco-workbench .part.editor > .content .editor-group-container {
    padding-top: 5px;
}

.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-label {
    height: 40px;
}

.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator:before {
    left: 5px !important;
    height: 60% !important;
    top: 20% !important;
    border-left: solid 4px var(--vscode-style-easy-anim-red-color) !important;
    border-radius: 5px;
    animation: easy-anim-fade-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

// 资源管理器内边距样式
.part.sidebar.pane-composite-part {
    padding: 10px;
    height: 100%;

    transition: width 0.2s ease-in;

    .composite.title {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 45px;
        .title-label {
            line-height: 45px;
        }
    }
    .content {
        width: 100% !important;
        height: calc(100% - 45px) !important;
        .monaco-scrollable-element {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

// 通知样式
.notifications-list-container {
    .monaco-list-rows {
        .monaco-list-row {
            transition: height 0.3s, width 0.3s;
        }
        .notification-list-item-icon::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 3px;
            height: 100%;
        }
        .notification-list-item-icon.codicon-info::after {
            background-color: #3794ff;
        }
        .notification-list-item-icon.codicon-error::after {
            background-color: #f14c4c;
        }
        .notification-list-item-icon.codicon-warning::after {
            background-color: #cca710;
        }
    }
}

.notifications-center.visible {
    animation: slide-in-fwd-bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

// 扩展展示页面动画
.extension-editor {
    animation: slide-in-fwd-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

// 左侧活动栏的动画
.part.activitybar {
    animation: code-scale 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

// 左侧资源管理器的动画
.monaco-grid-view .monaco-scrollable-element {
    .left .viewlet {
        animation: slide-in-fwd-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .right .viewlet {
        animation: slide-in-fwd-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

// 源代码管理右键菜单展开缩放-代码提示出现动画
.context-view.monaco-component.monaco-menu-container {
    animation: slide-in-fwd-position-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.shadow-root-host {
    .context-view.monaco-component.monaco-menu-container {
        animation: slide-in-fwd-position-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
}

// 全局搜索透明
.quick-input-widget.show-file-icons {
    background-color: #4c4c4c1c !important;
    backdrop-filter: blur(10px);
    animation: slide-in-fwd-position-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    .quick-input-header {
        .quick-input-and-message .quick-input-filter .quick-input-box {
            .monaco-inputbox.idle {
                background-color: transparent !important;
            }
        }
    }

    .quick-input-list {
        background-color: #ff000000 !important;
        .monaco-list {
            background-color: #ff000000 !important;
        }
        .monaco-list-rows {
            background-color: #ff000000 !important;
            .monaco-list-row {
                animation: slide-in-fwd-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
    }
}

.part.sidebar.pane-composite-part {
    .pane-body {
        .monaco-list-row {
            .monaco-tl-row {
                .monaco-tl-twistie {
                    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
                animation: code-scale 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }

        .monaco-tree-sticky-container {
            .monaco-tl-row {
                animation: none;
            }
        }
    }
}

// 弹跳
@keyframes jello-vertical {
    0% {
        transform: scale3d(0.75, 0.75, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

// 增加宽度
@keyframes tab-actions-line-width {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}

// 代码提示文字间距
@keyframes font-size-letter-spacing {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// 底部展开缩放-代码提示出现动画
@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

// 代码资源管理器目录旁提示线动画
@keyframes slide-in-left {
    0% {
        transform: translateX(-40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// 扩展列表动画
@keyframes slide-in-fwd-left {
    0% {
        transform: translateX(-100px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

// 编辑代码页面打开时的动画
@keyframes code-scale {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

// 通知列表出现动画
@keyframes slide-in-fwd-bottom {
    0% {
        transform: translateX(100px) translateY(100px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}

// 通知列表出现动画
@keyframes slide-in-fwd-right {
    0% {
        transform: translateX(100px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

// 源代码管理右键菜单展开缩放-代码提示出现动画
@keyframes slide-in-fwd-position-top {
    0% {
        transform: translateY(-100px) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

// 顶部菜单悬浮展开动画
@keyframes slide-in-fwd-top-title-menu {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
